html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.upper_header {
  background-color: #293449;
  margin-bottom: 46px;
}

.upper_header .container {
  display: flex;
}

.upper_header a:not(:first-child) {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  width: 150px;
  text-align: center;
  padding: 12px 0;
}

.header_logo {
  background-color: #ee3643;
  width: 220px;
  padding: 12px 55px 10px;
}

input.search {
  background-color: #293449;
  border: none;
  color: #ffffff;
  width: 270px;
  padding: 12px 0 12px 47px;
}

input.search:hover,
input.search:focus {
  background-color: #212a3a;
}

input.search::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.bookmarks,
.basket {
  color: #293449;
}

.bookmarks:hover,
.basket:hover,
.bookmarks:focus,
.basket:focus {
  background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
  background-color: #161d29;
}

.order {
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main_header {
  background-color: #f3f7f9;
  background-image: url(../img/jpg/top_background.jpg);
  background-repeat: no-repeat;
  margin-bottom: 59px;
}

.middle_header {
  display: flex;
  margin-bottom: 44px;
  justify-content: flex-end;
}

.explanation {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 16px;
  font-style: italic;
  width: 200px;
  margin-right: 70px;
}

.location_header {
  width: 270px;
  margin: 0;
  padding: 0;
}

.explanation,
.location_header a {
  color: #ee3643;
}

.location_header p:nth-child(1) {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding: 12px 49px 12px 71px;
}

.location_header p:nth-child(2) {
  margin: 0;
  padding: 0;
  color: #32425c;
  font-size: 14px;
}

.user_unregistered a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding: 12px 25px;
}

.user_unregistered .registration {
  margin-left: 10px;
}

.user_unregistered .entrance {
  padding-left: 48px;
  padding-right: 27px;
  margin-left: 69px;
}

.user_registered {
  margin-left: 51px;
}

.user_registered ul {
  list-style: none;
}

.user_registered .inner_wrap {
  background-color: #ffffff;
  padding: 12px 69px 12px 47px;
}

.username {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.username:active {
  color: rgba(0, 0, 0, 0.3);
}

.my_orders,
.personal_area {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}

.my_orders:hover,
.personal_area:hover,
.my_orders:focus,
.personal_area:focus {
  color: #ee3643;
}

.my_orders:active,
.personal_area:active {
  color: rgba(50, 66, 92, 0.3)
}

.entrance,
.registration {
  background-color: #ffffff;
}

.entrance:hover,
.registration:hover,
.entrance:focus,
.registration:focus {
  color: #ee3643;
}

.entrance:active,
.registration:active {
  color: rgba(0, 0, 0, 0.5);
}

.header_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header_nav a {
  background-color: #32425c;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.header_nav a:hover,
.header_nav a:focus {
  background-color: #293449;
}

.header_nav a:active {
  background-color: #1d2739;
  color:rgba(255, 255, 255, 0.5);
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.promo_card {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 123px;
}

.promo_card h3 {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.promo_card a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo_card a:hover,
.promo_card a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo_card a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.equipment,
.discounts,
.delivery {
  margin-right: 0;
}

.drill_photo {
  width: 620px;
}

.hammer_drill_photo {
  width: 620px;
}

.hammer_drill {
  display: none;
}

.inner_top_promo {
  display: flex;
  flex-wrap: wrap;
}

.inner_down_promo {
  display: flex;
  flex-wrap: wrap;
}

.promo {
  display: flex;
  margin-bottom: 53px;
}

.promo_slider {
  margin-right: 20px;
}

.promo_slider button {
  display: none;
}

.promo_slider a {
  display: none;
}

.promo_slider h3 {
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  display: none;
}

.promo_slider p {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  display: none;
}

.discounts {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
  margin-bottom: 0;
}

.top_frame {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.top_frame h2 {
  margin: 0;
  padding: 0;
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.popular_goods ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.popular_manufacturers {
  margin-bottom: 65px;
}

.popular_manufacturers ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.popular_manufacturers li {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular_manufacturers li:nth-child(4n) {
  margin-right: 0;
}

.services_wrapper {
  background-color: #f3f7f9;
  background-image: url("../img/jpg/top_background.jpg");
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.services h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 66px;
  margin-bottom: 37px;
}

.services p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 400px;
  margin-bottom: 76px;
}

.service_slider_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service_slider_list button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  background-color: #32425c;
}

.service_slider_list button:hover:not(.current_services) {
  background-color: #293449;
}

.service_slider_list .current_services {
  background-color: #ffffff;
  color: #32425c;
}

.services_slider_title {
  color: #32425c;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.delivery_section h3 {
  line-height:36px;
}

.service_slider {
  display: flex;
  margin-bottom: 98px;
}

.service_slider_left {
  margin-right: 80px;
}

.service_slider p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.warranty,
.credit {
  display: none;
}

.credit a {
  background-color: #ff5357;
}

.index_columns h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.index_columns p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.index_columns {
  margin-top: 80px;
  margin-bottom: 86px;
}

.index_columns .container{
  display: flex;
  justify-content: space-between;
}

.virtues {
  width: 522px;
}

.contacts {
  width: 300px;
}

.virtues_list {
  list-style: none;
}

.virtues_list li {
  font-size: 18px;
  line-height: 20px;
}

.button {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main_footer {
  background-color: #32425c;
}

.footer_logo {
  background-color: #ee3643;
}

.main_inside_footer {
  display: flex;
  justify-content: space-between;
}

.inside_footer {
  width: 330px;
}

.footer_nav {
  width: 550px;
}

.lower_footer {
  background-color: #293449;
}

.lower_footer .container {
  display: flex;
}

.location_footer,
.location_footer a {
  color: #f3f7f9;
  font-size: 18px;
}

.footer_nav ul {
  list-style: none;
}

.first_links a {
  color: #f1f5f7;
}

.second_links a {
  color: #ffd180;
}

.first_links a:hover,
.second_links a:hover,
.first_links a:focus,
.second_links a:focus {
  text-decoration: underline;
}

.first_links a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.second_links a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.years {
  width: 230px;
  margin-right: 160px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social_networks {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 131px;
}

.feedback {
  width: 140px;
  margin-right: 48px;
}

.developed {
  width: 102px;
}

.feedback,
.developed {
  font-size: 16px;
  line-height: 18px;
}

.feedback span,
.developed span {
  color: #ffffff;
}

.feedback a,
.developed a {
  color: #ffd180;
}

.feedback a:hover,
.developed a:hover,
.feedback a:focus,
.developed a:focus {
  text-decoration: underline;
}

.feedback a:active,
.developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.catalog_logo:hover,
.catalog_logo:focus{
  background-color: #ca2c37;
}

.catalog_logo:active {
  background-color: #ba2732;
}


.main_flex {
  display: flex;
  flex-direction: column-reverse;
}

.main_title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f3f7f9;
  background-image: url("../img/jpg/top_background.jpg");
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.header_catalog {
  margin-bottom: 23px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.breadcrumbs_item a,
.breadcrumbs_item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.inside_main_flex {
  display: flex;
  justify-content: space-between;
}

filter {
  width: 220px;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.power legend {
  letter-spacing: 0.1px;
}

.filter ul {
  list-style: none;
}

.filter h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter_range_wrapper {
  background-color: #f7f3ec;
}

.filter_interval input{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
}

.from:first-child input{
  background-color: #f7f3ec;
}

.before:last-child input{
  background-color: #f7f3ec;
}

.sorting {
  background-color: #f7f3ec;
  width: 700px;
  margin-bottom: 20px;
  display: flex;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting .sorting_main {
  margin-right: 46px;
}

.sorting_arrows {
  width: 43px;
}

.sorting_main li:not(:nth-child(1)) {
  margin-left: 68px;
}

.sorting h2,
.sorting a{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting h2 {
  margin: 0;
  padding: 0;
  margin-left: 18px;
  margin-right: 140px;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.sorting a:hover,
.sorting a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting a:active {
  color: #ee3643;
  border-bottom: none;
}

.filter_input + label {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
}

.filter_input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter button {
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.hammer_drill_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  width: 700px;
}

.hammer_drill_item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.hammer_drill_title {
  margin: 0;
  padding: 0;
}

.hammer_drill_item:nth-child(3n) {
  margin-right: 0;
}

.main_drill_item:nth-child(3n) {
  margin-right: 20px;
}

.main_drill_item:nth-child(4n) {
  margin-right: 0;
}

.hammer_drill_item:hover {
  box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.hammer_drill_item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 20px;
}

.old_price {
  color: #999999;
  text-decoration: line-through;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.price_today {
  color: #ffffff;
  text-decoration: line-through;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  background-color: #ee3643;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.caps {
  text-transform: uppercase;
}

.drop_price .buy,
.drop_price .to_bookmarks{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.drop_price .buy {
  background-color: #63a63e;
  color: #ffffff;
}

.drop_price .buy:hover,
.drop_price .buy:focus {
  background-color: #65b334;
}

.drop_price .buy:active {
  background-color: #518534;
}

.drop_price .to_bookmarks {
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #63a63e;
}

.drop_price .to_bookmarks:hover,
.drop_price .to_bookmarks:focus {
  border-color: #32425c;
}

.drop_price .to_bookmarks:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.pagination_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  display: flex;
}

.pagination_item_current {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination_list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
}

.pagination_list a:hover:not(.pagination_item_current),
.pagination_list a:focus:not(.pagination_item_current) {
  border: 1px solid #bdc6ca;
}

.pagination_list a:active:not(.pagination_item_current) {
  border: 1px solid #ee3643;
}

.rotary_hammer_information {
  background-color: #f3f7f9;
  background-image: url(../img/jpg/top_background.jpg);
  background-repeat: no-repeat;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.rotary_hammer_information h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 67px;
  margin-bottom: 37px;
}

.rotary_hammer_information p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 73px;
}




















